

html {
	background-color: rgb(8, 183, 226);
}

body {
	background-color:white;
	color: black;
	font-family: georgia;
	margin-left: 20%;
	margin-right: 20%;
}

h1 {
	text-align: center;
}

p {
	font-size: 20px;
}

li{
	margin: 8px 0;
	list-style-type: none;
}

   
@media only screen and (max-device-width: 480px) {
	/* define mobile specific styles come here */

	body {
		margin-left: 3%;
		margin-right: 3%;
	}
  }
